<%= raw Cartographer::Header.new.to_s %>
<%= raw @map.to_html%>


<div id="header" ><%= image_tag 'logo.png' %></div>
<div id="content">
  <div id="list">
    <% @trucks.each do |truck| %>
        <div class="row">
          <strong class="truckname"><%= add_space(truck[:name]) %></strong>
          <span class="address"><br/><%= truck[:location] %><br/></span>
          <div class="expandy">
            <%= image_tag truck[:image_url], :width => '280' %>
            <%= truck[:description] %>
            <br/>
            <%= link_to "website", truck[:site_url], :target => "_blank" %>
          </div>
        </div>
    <% end %>
  </div>

  <div id="map" >It looks like there are no trucks right now.</div>

</div>
<div id="under">&nbsp;</div>