<strong class="bigtruckname"><%= add_space(@truck[:name]) %></strong>
<span class="address"> <%= @truck[:location] %><br/></span>
<table width='400'>
<tr>
<td align="top">
<%= image_tag @truck[:image_url], :width => '100' %>
</td>
<td class="desctext">
<%= @truck[:description] %>
<br/><br/>
<%= link_to "website", @truck[:site_url], :target => "_blank" %>
    </td>
  </tr>
</table>